* {
    border: 2px;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0px;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

#workspaces button {
    padding: 5px;
    color: #555869;
    margin-right: 5px;
}

#workspaces button.active {
    color: #a6adc8;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #cdd6f4;
    color: #11111b; 
    border-radius: 10px;
}

#window{
    background-color: transparent;
}

#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#custom-vpn,
#workspaces,
#tray,
#backlight {
    background: transparent;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 5px;
    /* border: 1px solid #181825; */
}

#backlight {
    color: #a6adc8;
    border-radius: 10px 0px 0px 10px;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#workspaces {
    background: #1e1e2e;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#cpu {
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#memory {
    border-radius: 10px 0px 0px 10px;
}

#window {
    color: #a6adc8;
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: #a6adc8;
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    border-right: 0px;
}

#network {
    color: #a6adc8;
    border-radius: 10px 0px 0px 10px;
}

#bluetooth {
    color: #a6adc8;
    border-radius: 0px 0px 0px 0px;
}

#pulseaudio {
    color: #a6adc8;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#battery {
    color: #a6adc8;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#custom-vpn {
	color: #a6adc8;
}
