* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: #0C0C0C;
}

button {
    border-color: #7878ff;
	background-color: #0C0C0C;
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	margin: 20px 20px;
 }

button:active, button:hover {
	background-color: #0C0C0C;
	outline-style: none;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
    border-radius: 150px 0px 150px 0px;

}
#lock:hover {
    background-color: #FF7F50;
    background-size: 50%;
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
    border-radius: 0px 0px 150px 150px;
}
#logout:hover {
    background-color: #FFE135;
    background-size: 50%;

}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
    border-radius: 0px 150px 0px 150px;
}
#suspend:hover {
    background-color: #9966CC;
    background-size: 50%;

}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
    border-radius: 0px 150px 0px 150px;
}
#hibernate:hover {
    background-color: #5CCDCD;
    background-size: 50%;

}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
    border-radius: 150px 150px 150px 150px;
}
#shutdown:hover {
    background-color: #cd5c5c;
    background-size: 50%;

}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
    border-radius: 150px 0px 150px 0px;
}
#reboot:hover {
    background-color: #50c878;
    background-size: 50%;

}
